html, body {
    height: 100%;
    margin: 0%;
}

input[type="text"] { 
    background-color: rgb(168, 168, 168);
    color: aquamarine;
    border: 0;
    border-radius: 20px;
}

input[type="submit"]  {
    background-color: rgb(179, 179, 179);
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tamanho2 {
    background-color: rgb(133, 133, 133);
    flex: 2;
}
 .tamanho6 {
     flex: 6;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 h1 {
     display: flex;
     justify-content: right;
     align-items: center;
     font-size: 70%;
 }
 h3 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 70%;
 }
 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
    color: red;
 }
 